<md-toolbar>
  <div class="md-toolbar-tools">
    <span flex></span>
    <md-button><span
      class="logoicon"></span> {{nav.namesite}}</md-button>
    <span flex></span>
    <md-button><a ui-sref="home"><span
      class="glyphicon glyphicon-home"></span> Главная</a></md-button>
    <md-menu>
      <md-button aria-label="IT Услуги" ng-click="nav.openMenu($mdOpenMenu, $event)">
        IT Услуги
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button>
            <a ui-sref="it-uslugi-1">Абонентское обслуживание компьютеров</a>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <a ui-sref="it-uslugi-2">Приходящий системный администратор</a>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <a ui-sref="it-uslugi-3">Ремонт компьютеров и ноутбуков</a>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <a ui-sref="it-uslugi-4">Разработка и создание сайтов</a>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-button><a ui-sref="about">Контакты</a></md-button>
    <span flex></span>
  </div>
</md-toolbar>
